<div class="section">
    <h3>{{controller.headingTitle}}</h3>
    <div>
        <form name="search-product" ng-submit="controller.search()">
            <label for="name">Name</label>
            <input id="name" ng-model="controller.params.name"/>
            <button type="submit">Search</button>
        </form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in controller.products">
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>